<div id="data-enter">
	<div class="container">
		<div class="section-title text-center">
			<h2>Enter your data</h2>
			<hr>
		</div>
		<div class="space"></div>

		<div class="row">
			<div class="col-md-6">
				<div class="solar-map-container">
					<ng-map class="solar-map-relative" ng-mouseup="getCenterLocation()" my-touchend="getCenterLocation()"
							center="[{{location.lat}},{{location.lng}}]" zoom="{{location.zoom}}" default-style="false">
						<input class="pac-input controls position" places-auto-complete size=80
							   ng-model="vm.address"
							   component-restrictions="{country:'est'}"
							   types="{{types}}"
							   on-place-changed="placeChanged()"/>
						<marker position="{{currentCenterLocation.lat}},{{currentCenterLocation.lng}}"></marker>
					</ng-map>
				</div>
			</div>
			<div class="col-md-6">
				<form autocomplete="off">
					<p>Tilt of the panel</p>
					<input name="tilt" maxlength="2" size="any" type="number" class="form-control" min="0" max="90" placeholder="Tilt" ng-model="panel.tilt">
					<p>Azimuth of the panel</p>
					<input name="azimuth" maxlength="3" size="any" type="number" class="form-control" min="0" max="360" placeholder="Azimuth" ng-model="panel.azimuth">
					<p>Latitude</p>
					<input name="latitude" type="number" class="form-control" min="-90" max="90" step="any" placeholder="Latitude" ng-model="currentCenterLocation.lat">
					<p>Longitude</p>
					<input name="longitude" type="number" class="form-control" min="-180" max="180" step="any" placeholder="Longitude" ng-model="currentCenterLocation.lng">
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p>Use the map or just enter the coordinates by hand, you choose.</p>
			</div>
			<div class="col-md-6">
				<div class="text-right">
					<a ng-click="changeLocation()" class="btn send-btn">Send</a>
				</div>
			</div>
		</div>
	</div>
</div>


